.author_box {
  text-align: center;
  padding: 1rem;
}

.author_box  {
  div {
    margin-bottom: 1rem;
  }
}

.author_introduction {
  font-size: 0.8rem;
  color: #999;
}

.account {
  background-color: #999;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.name {
  color: #1e90ff;
  font-size: 1rem;
}
.description {
  color: #999;
}
